.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #cfd1d4;
  cursor: move;
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 550px;
  overflow-x: hidden;
}
.drag-container--origin {
  background-color: transparent;
}
.drag-container--destination {
  background-color: transparent;
}
.drag-container--disabled {
  pointer-events: none;
  cursor: none;
}
.area-container {
  width: inherit;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  border: 1px solid #cfd1d4;
  vertical-align: top;
  cursor: move;
  padding: 15px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 600px;
  overflow-x: hidden;

}
.area-container--all {
  background-color: transparent;
}
.item-list {
  min-height: 60px;
  border-radius: 4px;
}

.item-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: inherit;
  background: white;
  font-size: 14px;
  border-radius: 20px;

 
}
.cdk-drag-preview {
  background-color: orange;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.display-flex {
  display: flex;
}
.side-container {
  width: 38%;
  margin: 0 5px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.item-line {
  border: 1px solid #cfd1d4;
}

.item-line p {
  margin: 0;
  padding: 10px; /* Adjust padding inside the box */
}
.form-control {
  margin-right: 15px;
  border-radius: 10px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.btn-primary {
  border-radius: 10px;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mat-icon {
  height: 17px;
}