<div class="container display-flex">
  <div class="side-container mt-5">
    <div class="item-line"><p>All ({{ all.length }})</p></div>
    <div class="item-line"><p>Fruits ({{ todo.length }})</p></div>
    <div class="item-line"><p>Vegetables ({{ done.length }})</p></div>
    <div class="item-line"><p>Meats ({{ review.length }})</p></div>
  </div>
  <div class="row mt-5">
    <div>
      <div class="area-container area-container--all">
        <div class="row mb-3">
          <div class="col">
            <div class="section-heading">All ({{ all.length }})</div>
          </div>
          <div class="col-auto">
            <div class="input-group">
              <input
                type="text"
                class="form-control mr-2"
                placeholder="Recherche..."
              />
              <button
                class="btn btn-primary ml-5"
                type="button"
                (click)="openDialog()"
              >
                New Item
              </button>
            </div>
          </div>
        </div>
        <div
          cdkDropList
          id="optionsList"
          [cdkDropListData]="all"
          [cdkDropListConnectedTo]="['includeList', 'excludeList', 'fruitList']"
          class="item-list row"
          (cdkDropListDropped)="drop($event)"
        >
          <app-item-card
            *ngFor="let item of all"
            [item]="item"
            (delete)="deleteItem($event, 'all')"
            class="col-auto"
          ></app-item-card>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Fruits ({{ todo.length }})</div>
          <div
            cdkDropList
            id="fruitList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'includeList',
              'excludeList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <app-item-card
              *ngFor="let item of todo"
              [item]="item"
              (delete)="deleteItem($event, 'all')"
            ></app-item-card>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Vegetables ({{ done.length }})</div>
          <div
            cdkDropList
            id="includeList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'excludeList',
              'fruitList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <app-item-card
              *ngFor="let item of done"
              [item]="item"
              (delete)="deleteItem($event, 'all')"
            ></app-item-card>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Meats ({{ review.length }})</div>
          <div
            cdkDropList
            id="excludeList"
            [cdkDropListData]="review"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'includeList',
              'fruitList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <app-item-card
              *ngFor="let item of review"
              [item]="item"
              (delete)="deleteItem($event, 'all')"
            ></app-item-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div app-add-item-modal></div>
