
<div class="container">
  <div class="row mt-5">
    <div>
      <div class="area-container area-container--all">
        <div class="row mb-3">
          <div class="col">
            <div class="section-heading">All ({{ all.length }})</div>
          </div>
          <div class="col-auto">
            <div class="input-group">
              <input
                type="text"
                class="form-control mr-2"
                placeholder="Recherche..."
              />
              <button class="btn btn-primary ml-5" type="button" (click)="openDialog()">
                New Item
              </button>
            </div>
          </div>
        </div>
        <div
          cdkDropList
          id="optionsList"
          [cdkDropListData]="all"
          [cdkDropListConnectedTo]="['includeList', 'excludeList', 'fruitList']"
          class="item-list row"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-card class="example-card" *ngFor="let item of all" cdkDrag>
            <mat-card-content>
              <button mat-icon-button class="delete-button" color="warn" (click)="deleteItem(item, 'all')">
                <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
              </button>
              <img mat-card-xl-image src="{{ item.imageUrl }}" />
              <div class="align-item-center">
                <p>Name: {{ item.name }}</p>
                <p>Weight: {{ item.weight }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: {{ item.price }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Fruits ({{ todo.length }})</div>
          <div
            cdkDropList
            id="fruitList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'includeList',
              'excludeList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <mat-card class="example-card" *ngFor="let item of todo" cdkDrag>
              <mat-card-content>
                <button mat-icon-button class="delete-button" color="warn" (click)="deleteItem(item, 'todo')">
                  <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                </button>
                <img mat-card-xl-image src="{{ item.imageUrl }}" />
                <div class="align-item-center">
                  <p>Name: {{ item.name }}</p>
                  <p>Weight: {{ item.weight }}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                  <p>Price: {{ item.price }}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Vegetables ({{done.length}})</div>
          <div
            cdkDropList
            id="includeList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'excludeList',
              'fruitList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <mat-card class="example-card" *ngFor="let item of done" cdkDrag>
              <mat-card-content>
                <button mat-icon-button class="delete-button" color="warn" (click)="deleteItem(item, 'done')">
                  <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                </button>
                <img mat-card-xl-image src="{{ item.imageUrl }}" />
                <div class="align-item-center">
                  <p>Name: {{ item.name }}</p>
                  <p>Weight: {{ item.weight }}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                  <p>Price: {{ item.price }}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="drag-container drag-container--origin">
          <div class="section-heading">Meats ({{review.length}})</div>
          <div
            cdkDropList
            id="excludeList"
            [cdkDropListData]="review"
            [cdkDropListConnectedTo]="[
              'optionsList',
              'includeList',
              'fruitList'
            ]"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <mat-card class="example-card" *ngFor="let item of review" cdkDrag>
              <mat-card-content>
                <button mat-icon-button class="delete-button" color="warn" (click)="deleteItem(item, 'review')">
                  <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
                </button>
                <img mat-card-xl-image src="{{ item.imageUrl }}" />
                <div class="align-item-center">
                  <p>Name: {{ item.name }}</p>
                  <p>Weight: {{ item.weight }}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                  <p>Price: {{ item.price }}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div app-add-item-modal></div>